.strength-meter {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  
  .passwordStrength {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .strength-bar {
    height: 5px;
    flex: 1;
    background-color: gray;
  }
  
  .gray { background-color: gray; }
  .red { background-color: red; }
  .yellow { background-color: yellow; }
  .green { background-color: green; }
  