.gray {
  background-color: #ccc;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.strength-indicator {
  height: 10px;
  width: 33%;
  display: inline-block;
  margin-right: 2px;
}
  
.passwordStrength {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
  